/* *, *::after, *::before {
    margin: 0;
    padding: 0;
} */

.container {
    margin: 0 auto;
    width: 320px;
}

.header {
    font-family: "TTLakes";
    font-size: 16px;
    color: #1B1C21;
    width: 100%;
}

.main {
    font-family: "TTLakes";
    font-size: 14px;
    color: #1B1C21;
    width: 100%;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    border: solid 2px transparent;
    cursor: pointer;
}

.button {
    background-color: transparent;
    border: solid 1px transparent;
    cursor: pointer;
}

/* Верхнее меню */
.upper-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    width: auto;
    height: 89px;
    border-bottom: 1px solid #D9FFF5;
}

.upper-menu__links-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    min-width: 154px;
    padding: 0;
}

.upper-menu__links-right {
    display: flex;
    /* justify-content: space-between; */
    gap: 16px;
    align-items: center;
    list-style: none;
    min-width: 96px;
    padding: 0;
    /* padding: 0 0 0 18px;
    border-left: 2px solid #EAEAEA; */
}

.upper-menu__link {
    width: 40px;
    height: 40px;
    border: none;
}

.upper-menu__link a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1B1C21;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

/* .upper-menu__link:hover,
.upper-menu__link:focus {
    border: 2px solid #B8FFEC;
} */

.upper-menu__link--hidden {
    display: none;
}

.upper-menu__logo {
    width: 102px;
    height: 56px;
}

.upper-menu__logo a {
    width: 100%;
    height: 100%;
}

.upper-menu__divider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 2px;
}

.upper-menu__divider--hidden {
    display: none;
}

.upper-menu__link:nth-child(4) {
    width: 62px;
    padding-left: 20px;
    border-left: 2px solid #EAEAEA;
    border-radius: none;
}

/* .upper-menu__logo::after {
    content: "";
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
} */

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 16px 0 16px;
    padding: 0;
    width: auto;
    height: 42px;
}

.title__text {
    margin: 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
}

.title__text::before {
    content: "";
    position: relative;
    left: -16px;
    width: 0px;
    height: 40px;
    border: 2px solid #41F6D7;
    border-radius: 0 10px 10px 0;
}

.title-nav {
    display: flex;
    align-items: center;
    align-self: flex-end;
    width: auto;
    height: 42px;
}

.title-nav--hidden {
    display: none;
}

.title__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.title__link {
    height: 40px;
    border: none;
}

/* .title__link:hover,
.title__link:focus {
    border: 2px solid #B8FFEC;
} */

.title__link a { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    color: #1B1C21;
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

.title__link a span { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

/* .title__link:hover,
.title__link:focus {
    border: 1px solid #B8FFEC;
} */

/* Меню-слайдер */
.slide-menu {
    overflow-y: hidden;
    overflow-x: auto;
    margin: 24px 16px 0 16px;
    /* ??? чому выезжает при width: 100%; */
    max-width: 100%;
    min-height: 42px;
}

.slide-menu__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 100%;
    min-height: 40px;
    margin: 0;
    padding: 0;
}

.slide-menu__link {
    /* width: fit-content; */
    height: 40px;
    line-height: 36px;
    white-space: nowrap;
    padding: 0 16px;
    border-radius: 6px;
}

.slide-menu__link a { 
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    color: #7E7E82;
    text-decoration: none;
}

.slide-menu__link:hover,
.slide-menu__link:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

/* Основной текст */
.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    min-height: 322px;
    /* margin: 16px 0 0 0; */
}

.content-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin: 0 16px;
}

.content-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 72px;
    overflow: hidden;
}

.content-description__paragraph {
    margin: 0;
}

.content_description__button {
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-align: left;
    width: 134px;
    height: 26px;
    margin: 16px 0 0 0;
    padding: 0px;
}

.content_description__button::before {
    /* content: "";
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background: url("../images/expand.svg") no-repeat; */
    content: url("../images/expand.svg");
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.content__button:focus ~ .content__text {
    max-height: auto;
}

.content__picture {
    width: 100%;
    height: 176px;
}